body {
    padding-top: 150px;
}

.onglets{
    margin: 5%;
    margin-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.choix{
    display: flex;
    text-align: center;
    min-width: 370px;
}

.option{
    width: 31.5%;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.notActive{
    margin-top: 15px;
    width: 100%;
    height: 3px;
    border: 0px solid transparent;
    border-bottom: 1px solid gray;
    transition-duration: 500ms;
}

.active{
    margin-top: 15px;
    width: 100%;
    height: 3px;
    background-color: rgb(78, 165, 78);
    border: 0px solid transparent;
    border-bottom: 1px solid rgb(78, 165, 78);
    transition-duration: 500ms;
}

a{
    height: 20px;
    cursor: pointer; 
}

.contenu {
    display: flex;
    justify-content: center;
    margin: 5%;
    margin-top: -4%;
    margin-bottom: 0%;
    width: 90%;
}

.type{
    text-align: center;
    margin: 5%;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 5px;
    width: 70%;
}

img{
    width: 96%;
    height: auto;
    max-height: 323px;
    padding: 2%;
    padding-bottom: 0%;
    border-radius: 5px;
}

.titre{
    width: 90%;

    margin-top: 15px;
    margin-bottom: 30px;

    text-align: center;
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.reserver{
    text-align: center;

    height: 40px;
    width: 60%;

    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 30px;

    padding-top: 7px;
    padding-bottom: 7px;

    border: none;
    border-radius: 4px;

    color: white;
    background-color: rgb(48, 118, 55);

    cursor: pointer;
}


.conteneur{
    margin-bottom: 5%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendrier{
    width: 70%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 5px;
    padding: 2%;
}

.mois{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
}

.mois i {
    width: 20%;
    height: 100%;
    text-align: center;
    cursor: pointer;
  }

.date{
    width: 60%;
}

.date h1{
    height: 40px;
}
.date p{
    height: 20px;
}

.semainejours{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jours{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.jours div {
    width: 14.28%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jours div:hover:not(.aujourdhui) {
    background-color: rgb(212, 212, 212);
    cursor: pointer;
  }

.aujourdhui{
    color:red;
}

.jours-suivants{
    color: rgb(162, 162, 162);
}

.jours-precedents{
    color: rgb(162, 162, 162);
}