body {
    padding-top: 120px;
}

.first_img > img{
    display: block;
    height: auto;
    width: 70%;
    margin: auto;
    min-width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.welcome > p{
    text-align: center;
    font-size: 300%;
    margin: auto;
}
.second_img > img{
    height: auto;
    width: 100%;
    min-width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}